framework.jpg
result*.*
*.jpg
*.png
*.h5
*.mp4
*.aac
*.sh
*.json

/__pycache__/
/Model/__pycache__/
/preprocessing_dataset*/
/training_checkpoints*/
/TrainingCheckPoints*/
/training_inputs*/
/TRCKP*/
/VGG_HZ/
/CBG/
/DataSets*/
/CodeForDoc*/